.header {
    padding-top: 30px;
    margin-bottom: 20px;
}

.view-form__header {
    display: flex;
    align-items: center;
    background-color: #F2E3B6;
    height: 40px;
    width: 1000px;
    padding-left: 10px;
}

.view-header {
    width: 400px;
}

.main {
    margin-left: 220px;
    font-size: 28px;
    padding: 0px 10px;
}

.view-form {
    background-color: #F6F7F9;
    width: 1000px;
    font-size: 12px;
    padding-right: 15px;
}

.view-form input {
    display: flex;
    width: 800px;
    border-radius: 5px;
    padding-left: 5px;
}

.view-form label {
    padding-bottom: 3px;
    font-size: 13px;
    font-weight: 600;

}